/* ./styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* tooltip */
.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  width: 20rem;
  z-index: 500;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
